
:root {
    --ct-code-font-family: Fira Code, Monaco, Menlo, Consolas, 'COURIER NEW', monospace;
    --ls-font-family: 'American Typewriter', 'segoe UI Emoji', 'sarasa ui sc', sans-serif;
}



h1, h2, h3, h4 {
  color: #3f74bf;
}

/* Hide "table view" from queries */
div.mx-2 {
  display: none;
}

/* Hide page properites*/
div.block-properties.page-properties {
	display: none;
}

/* Hide "Set Properties" from queries */
.table-query-properties .text-sm {
  display: none;
}

/* Remove the actual query displayed in simple query tables */
.cp__query-builder {
	display: none;
}

/* Style the heading row of Query Table */
/*
th {
  font-size: 1.0rem;
  color: #3f74bf;
  font-weight: bold;
  text-transform: capitalize;
  background-color: #ffce54;
  border-radius: 8px;
}
*/
/* Wrap text in query table */
/*
td {
    white-space: pre-wrap !important;
}
*/
